@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');
@import url('https://fonts.cdnfonts.com/css/fraunces-144pt-s000');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-svg-images {
  background-image: url('./assets/bg-pattern-1.svg'),
    url('./assets/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: top left -150px, center right -110px;
}
@media (max-width: 640px) {
  .bg-svg-images {
    background-image: none;
  }
}
